[submodule ".vim/bundle/vim-latex"]
	path = .vim/bundle/vim-latex
	url = https://github.com/jcf/vim-latex.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/powerline"]
	path = .vim/bundle/powerline
	url = https://github.com/Lokaltog/powerline.git
